# osx
.DS_Store

#Sync
sync.sh

## xCode
# xCode User settings
xcuserdata/

# Build generated
build/
DerivedData/

## CodeBlocks
bin/
obj/
*.layout
*.depend

## C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app